<div class="subscribe-form subscribe-form--astro">
    <h3 class="subscribe-form__title">Подпишитесь на ваш гороскоп</h3>
    <form class="subscribe-form__form" sction="#">
        <select name="sign" class="styler">
            <option value="1">Овен</option>
            <option value="2">Телец</option>
            <option value="3">Близнецы</option>
            <option value="4">Рак</option>
            <option value="5">Лев</option>
            <option value="6">Дева</option>
            <option value="7">Весы</option>
            <option value="8">Скорпион</option>
            <option value="9">Стрелец</option>
            <option value="10">Козерог</option>
            <option value="11">Водолей</option>
            <option value="12">Рыбы</option>
        </select>
        <input name="email" type="text" placeholder="Введите e-mail" />
        <label class="checkbox">
            <input type="checkbox" value="agree" name="agree-with-statements"/>
            <span class="label">Я подтверждаю согласие с <a href="#">политикой конфиденциальности</a></span>
        </label>
        <button type="submit" disabled>OK</button>
    </form>
</div>