<div class="subscribe-form subscribe-form--astro subscribe-form--sign">
    <h3 class="subscribe-form__title">
        Я хочу получать гороскоп Овна
        <label class="switcher">
            <input type="checkbox" value="full-horoscope" name="want-full-horoscope-switcher"/>
            <span class="label">Я хочу получать общий гороскоп</a></span>
        </label>
    </h3>
    <form class="subscribe-form__form" sction="#">
        <input type="hidden" value="false" name="want-full-horoscope" />
        <input name="email" type="text" placeholder="Введите e-mail" />
        <label class="checkbox">
            <input type="checkbox" value="agree" name="agree-with-statements"/>
            <span class="label">Я подтверждаю согласие с <a href="#">политикой конфиденциальности</a></span>
        </label>
        <button type="submit" disabled>OK</button>
    </form>
</div>