</main>	
			
<!-- CONTENT EOF   -->

{{> digital-magazine/digital-magazine}}

<!-- BEGIN FOOTER -->	

<footer class="footer">
    <div class="wrapper">
        <div class="footer-wrap">
            <ul class="menu">
                <li class="menu__item ">
                    <a href="#" class="menu__link">Мода</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Красота</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Звезды</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Стиль жизни</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Астро</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Шопинг</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Видео</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Контакты</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Реклама</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Медиакит</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Карта сайта</a>
                </li>
            </ul>
            <div class="footer-text">
                InStyle.ru - это сайт о моде, красоте, стиле жизни, гид по шопингу, светская хроника, звездный стиль, подробный анализ трендов, новости из жизни знаменитостей и самые значимые культурные события. Самая актуальная информация из мира моды, красоты, культуры, светской жизни, гастрономии, путешествий, а также - психология отношений, детская мода, обзоры модных гаджетов и собственный онлайн-магазин. 
                Сайт InStyle.ru является женским онлайн-журналом, отражающим все аспекты стиля жизни с акцентом на модных трендах.
            </div>  
            <div class="social">
                <a href="#" class="social__link"><span class="icon-facebook"></span></a>
                <a href="#" class="social__link"><span class="icon-twitter"></span></a>
                <a href="#" class="social__link"><span class="icon-youtube"></span></a>
                <a href="#" class="social__link"><span class="icon-insta"></span></a>
            </div>
            <p class="copy">&copy; 2016 InStyle. Все права защищены. </p>
            <span class="design-by"><a href="#"">Дизайн сайта</a> &mdash; FIRON</span>
        </div>
    </div>
</footer>

<!-- FOOTER EOF   -->
<div class="overlay"></div>
    <a href="#" class="body-advert" style="background-image: url('%=static=%img/content/advert-done.jpg');"></a>
</div>
<!-- BODY EOF   -->


<div class="icon-load"></div>
<script src="%=static=%js/separate-js/jquery-3.2.1.min.js?ver1.0"></script>
<script src="%=static=%js/separate-js/jquery.mousewheel.js"></script>
<script src="%=static=%js/separate-js/jquery.nicescroll.min.js"></script>
<script src="%=static=%js/separate-js/jquery.formstyler.min.js?ver1.0"></script>
<script src="%=static=%js/separate-js/slick.min.js"></script>
<script src="%=static=%js/separate-js/main.js"></script>

</body>
</html>
