
<section class="digital">
    <div class="digital__content">
        <h2 class="digital__content-date">аВГУСТ 2018</h2>
        <h1 class="digital__content-title">
            В моде 80-е!
        </h1>
        <span class="digital__content-text">
            Черная кожа, кудри и стразы, главные тренды Pre-fall, прозрачные платья и летний макияж
        </span>
        <a class="digital__content-download" href="#""></a>
    </div>
    <div class="digital__image">
        <img src="%=static=%img/content/mag-example.png" alt="В моде 80-е!" />
    </div>
</section>