<div class="search-modal">
    <button class="search-close fas fa-times"></button>
    <form action="#">
        <button class="icon-search fas fa-search" type="submit"></button>
        <input type="text" class="search__input" placeholder="Что будем искать?">
    </form>
    <div class="search-result">
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
        <div class="search-result__item">
            <a class="search-result__item-title" href="#">Полдень в Париже: <strong>стиль</strong> Поппи Делевинь в рекламной кампании Roger Vivier</a>
            <div class="search-result__item-text">Живописные локации, <strong>стиль</strong> и, конечно, еда – в кампейне собрано все лучшее, что есть во французской столице</div>
        </div>
    </div>
</div>