<div class="subscribe-form-imaged">
    <div class="subscribe-form-imaged__form" style="background-image: url(%=static=%img/content/subscribe-img.png)">
        <h3>Подписка на лучшие публикации InStyle.ru</h3>
        <p>
            Получайте последние новости о моде, вдохновение для красоты, идеи для покупок и многое другое от экспертов моды InStyle.
        </p>
        <form class="subscribe-form__form" sction="#">
            <input type="text" placeholder="Введите e-mail" />
            <button type="submit" disabled>OK</button>
            <label class="checkbox">
                <input type="checkbox" value="agree" name="agree-with-statements"/>
                <span class="label">Я подтверждаю согласие с <a href="#">политикой конфиденциальности</a></span>
            </label>
        </form>
    </div>
    <div class="subscribe-form-imaged__share">
        <div class="wrapper">
            <h4>Instyle в соцсетях</h4>
            <h3>Читайте и смотрите InStyle там, где вам удобно</h3>
        </div>
    </div>
</div>