.subscribe-form-imaged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 60px 0;

    &__form {
        width: 50%;
        min-height: 455px;
        background-size: cover;
        padding: 50px 80px 50px 60px;
        position: relative;
        color: #fff;

        h3 {
            font-family: $prate;
            font-size: 30px;
            line-height: 1.3;
            margin: 0 0 20px 0;
            font-weight: normal;
        }

        p {
            font-family: $regular;
            font-size: 16px;
            line-height: 1.5;
            padding: 0 40px 0 0;
        }

        & > * {
            position: relative;
            z-index: 20;
        }

        form {
            margin: 60px 0 0 0;
            width: 100%;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background: rgba(0,0,0,.5);
        }
    }

    &__share {
        width: 50%;
        position: relative;
        left: -60px;
        text-align: center;
        color: #000;
        background: rgba(250, 241, 227, .95);
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 20;

        h4 {
            margin: 0 0 30px 0;
            text-transform: uppercase;
            color: $orange;
            font-family: $semibold;
            font-size: 14px;
            font-weight: normal;
        }

        h3 {
            font-family: $prate;
            font-size: 30px;
            line-height: 1.3;
            margin: 0 0 20px 0;
            font-weight: normal;
        }

        .wrapper {
            max-width: 420px;
            margin: auto;
        }

        .social {
            justify-content: center;
        } 
    }

    @media screen and (max-width: 1024px) {
        &__form {
            min-height: 0;
            padding: 40px 80px 20px 40px;

            h3 {
                font-size: 25px;
                line-height: 1.2;
            }

            p {
                font-size: 14px;
            }

            form {
                margin: 20px 0 0 0;
            }
        }

        &__share {
            min-height: 0;
            height: auto;
            padding: 50px;


            h4 {
                margin: 0 0 15px 0;
            }

            h3 {
                font-size: 25px;
                line-height: 1.2;
                margin: 0 0 15px 0;
            }
        }
    }

    @media screen and (max-width: 767px) {
        display: block;
        margin: 0 -10px 40px;

        &__form {
            width: auto;
            padding: 20px;
            text-align: center;

            h3 {
                font-size: 20px;
                line-height: 25px;
            }

            .subscribe-form__form {
                display: flex;
                
                input[type=text] {
                    width: auto;
                    margin: 0;
                }

                button {
                    width: 60px;
                }
            }
        }

        &__share {
            width: auto; 
            left: 0;
            padding: 25px;

            h4 {
                font-size: 10px;
            }

            h3 {
                font-size: 20px;
                line-height: 25px;
            }

            .social {
                max-width: 200px;
                margin: auto;
            }
        }
    }
}
